/** CSS RESET **/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/** CSS RESET **/

@font-face {
  font-family: "Montserrat";
  src:
    url("../fonts/Montserrat-Regular.ttf") format("truetype"),
    url("../fonts/Montserrat-Regular.woff") format("woff"),
    url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src:
    url("../fonts/Montserrat-Bold.ttf") format("truetype"),
    url("../fonts/Montserrat-Bold.woff") format("woff"),
}

.main-page {
  font-family: Montserrat;
  color: black;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.title-text,
.subtitle-text,
.skills__level,
.experience__period {
  font-family: Montserrat-Bold;
}

.title-text {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
}

.subtitle-text {
  font-weight: 700;
}

.paragraph {
  padding-top: 16px;
}

.paragraph:first-child {
  padding-top: 0;
}

.grey-background {
  background-color: #F6F6F6;
}

.content-wrapper {
  position: relative;
  z-index: 1;
  background-color: #FFFFFF;
  margin: -20px auto;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.tabs {
  display: flex;
  justify-content: space-between;
  padding: 40px 20px;
}

.tablink {
  background-color: #FFFFFF;
  border: none;
  text-align: center;
}

.tablink:hover,
.tablink.active {
  font-weight: 700;
  font-family: Montserrat-Bold;
}

.tablink {
  position: relative;
  text-decoration: none;
  cursor: pointer;
}

.tablink::after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
  display: block;
  width: 100%;
  height: 4px;
  background: #FFDD00;
}

.tablink::after {
  width: 0;
  transition: 0.3s;
}

.tablink:hover:after {
  width: 100%;

}

.show-button,
.hide-button {
  display: block;
  position: absolute;
  margin-top: 40px;
  font-size: 20px;
  font-weight: 700;
  line-height: 26px;
  text-decoration: underline;
  cursor: pointer;
  z-index: 10;
}


.hiding-wrapper,
.hide-button {
  display: none;
}

.header {
  padding: 40px 20px;
}

.header__title-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__subtitle-text {
  font-size: 16px;
  line-height: 24px;
  color: #6F6F6F;
}

.header__main-photo,
.header__name-block {
  display: inline;
}

.header__main-photo {
  margin-right: 16px;
}

.header__main-photo-image {
  border-radius: 50%;
  width: 80px;
  height: 80px;
}

.main-page__button-container {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.main-page__button {
  padding: 16px 24px 16px 24px;
  border-radius: 64px;
  border-style: none;
  background-color: black;
  width: 335px;
  height: 64px;
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 31px;
}

.main-page__button-link {
  text-decoration: none;
  color: #FFFFFF;
}

.main-page__button:hover {
  background-color: #293133;
  cursor: pointer;
}

.main-page__background-image.star-image,
.main-page__background-image.cube-image,
.main-page__background-image.main-image {
  display: none;
}

.main-page__background {
  width: 100%;
}

.main-page__text-block {
  padding: 32px 20px 40px 20px;
}

.main-page__footer {
  background-color: black;
  padding: 48px 20px;
}

.main-page__contacts-block {
  color: #FFFFFF;
}

.main-page__footer-main-block {
  display: flex;
  flex-direction: column;
}

.main-page__email {
  color: #FFFFFF;
  font-size: 24px;
  font-weight: 700;
  line-height: 29px;
}

.main-page__email:hover {
  color: #FFDD00;
}

.main-page__phone {
  margin-top: 24px;
  font-size: 24px;
  line-height: 31px;
}

.main-page__social-networks {
  margin-top: 40px;
  align-items: center;
}

.main-page__social-link {
  margin-right: 36px;
  text-decoration: none;
  display: inline-block;
  position: relative;
}

.main-page__social-link:hover svg {
  fill: #FFDD00;
}

.main-page__social-link-delimiter {
  position: absolute;
  top: 15px;
  right: -22px;
  width: 1px;
  height: 12px;
  background-color: #6F6F6F;
  opacity: 0.5;
}

.main-page__copywrite {
  margin-top: 40px;
  color: #FFFFFF;
  font-size: 12px;
  line-height: 18px;
}

.main-page__copywrite-name {
  font-weight: 700;
}

.experience,
.skills {
  display: none;
}

.experience .title-text,
.skills .title-text {
  margin-bottom: 24px;
}

.experience__item,
.skills__item {
  padding: 24px;
  border-radius: 12px;
}

.experience__period {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 12px;
  background-color: #FFDD00;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.skills__level {
  display: inline-block;
  margin-top: 20px;
  padding: 6px 18px 6px 12px;
  border-radius: 100px;
  font-size: 12px;
  font-weight: 700;
  line-height: 18px;
}

.level-30 {
  background: linear-gradient(90deg, #FFDD00 30%, #E6E6E6 70%);
}

.level-50 {
  background: linear-gradient(90deg, #FFDD00 50%, #E6E6E6 50%);
}

.level-70 {
  background: linear-gradient(90deg, #FFDD00 70%, #E6E6E6 30%);
}

.main-page__background {
  background: linear-gradient(45deg, #ECB300, #ffffff, #FFDD00, #FCED50);
  background-size: 300% 300%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  -o-animation: AnimationName 5s ease infinite;
  animation: AnimationName 5s ease infinite;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-moz-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@-o-keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

  50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}